/* DEPRECATED - moved to resources/js/index.css (kept for historical reasons)
   This file is intentionally left as a placeholder so old references won't break.
   You should remove leftover imports that point here in favor of resources/js/index.css
*/
